*{
    margin: 0;
    font-family: Arial,sans-serif;
}
.head {
    text-align: center;
    width: 99vw;
    height: 100vh;
    background-image: url('https://traversymedia.com/downloads/assets/beachshowcase.jpg');
    background-size: cover;
    background-position: center;
    color: #926239;
    
}
h1 {
    padding: 19% 0% 0.5% 0%;
    font-size: 50px;
}
.p{
    font-size: 20px;
}
button {
    color: #926239;
    border-radius: 10px;
    background: none;
    font-size: 18px;
    border: 1px solid  #926239;
    padding: 12px 22px;
    margin: 23px 0px;
    
}
.text{
    text-align: center;
    line-height: 1.5em;
    font-size: 17px;

}
.threePar {
    display:inline-block;
    width: 33%;
    text-align: left;
    box-sizing: border-box;

}
.whiteText {
    color: white;
    background-color: #926239;
    padding: 1.5% 1%;
}
.brownText {
    color: #926239;
    padding: 1.5% 1%;
}